service vendor.camera-provider-2-4-hdmirx /vendor/bin/hw/android.hardware.camera.provider@2.4-hdmirx-service
    interface android.hardware.camera.provider@2.4::ICameraProvider hdmirx/0
    class hal
    user cameraserver
    group audio camera input drmrpc media
    ioprio rt 4
    capabilities SYS_NICE
    task_profiles CameraServiceCapacity MaxPerformance
